# Server Configuration
NODE_ENV=development
PORT=5000

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/virtual-closet?retryWrites=true&w=majority

# Cloud Database API Key
# path to downloaded json key file
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json
# Cloud Storage Buckey Name
GCS_BUCKET=pfw-virtual-close
